* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 1rem 2rem;
}

h1 {
  text-align: center;
  margin:1rem 0;
}

section {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto auto;
}

article {
  background-color: #999999;
  padding: 0 10px 10px;
  border: 3px solid black;
}

article h2 {
  text-align: right;
  display: flex;
  justify-content: end;
}

article h2 div {
  margin-right: -13px;
  margin-top: -3px;
  border: 3px solid black;
}

.title1 {
  background-color: #d79798;
  padding: 0.5rem;
}

.title2 {
  background-color: #c14543;
  padding: 0.5rem;
}

.title3 {
  background-color: #e5d099;
  padding: 0.5rem;
}

/* For tablets: */
@media only screen and (max-width: 768px) {
  section {
    grid-template-columns: auto auto;
  }
}

/* For mobile: */
@media only screen and (max-width: 480px) {
  section {
    grid-template-columns: auto;
  }
}
